@mixin flex($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin flexDirection($direction: column, $align: center) {
  @include flex($align);
  flex-direction: $direction;
}

@mixin responsiveFontSize($baseFontSize: 1rem) {
  $fontSize: calc(#{$baseFontSize} / (1vw + 0.01)); // Add 0.01 to avoid division by zero

  /* Set font size */
  font-size: $fontSize;
}

@mixin scrollBar() {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }


  /* Handle */
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #D9D9D9;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }

  // &::-webkit-scrollbar-thumb:hover {
  //   background: $thumb-hover-color;
  // }

  // // For Firefox
  // scrollbar-width: thin;
  // scrollbar-color:  transparent #D9D9D9;

}
@mixin padding($direction){
  @if($direction == left){
    padding-left: 6.25rem;
    @media screen and (max-width: 500px) {
      padding-left: 2.5rem;
    }
  }
  @if($direction == right){
    padding-right: 6.25rem;
    @media screen and (max-width: 500px) {
      padding-right: 2.5rem;
    }
  }
}
@mixin pagePadding() {

  $pagePadding: 0 6.25rem;
  $pagePaddingRes: 0 2.5rem;
  padding: $pagePadding;

  @media screen and (max-width: 500px) {
    padding: $pagePaddingRes;
  }
}

@mixin pageNoPadding() {
  padding: 0;

  @media screen and (max-width: 500px) {
    .sectionHeader {
      margin-left: 6.25rem;

      @media screen and (max-width: 500px) {
        margin-left: 2.5rem;

      }
    }
  }

}



@mixin backDrop() {
  background-color: rgba(44, 50, 51, 0.20);
  backdrop-filter: blur(50px);
}

@mixin carouselItem($width: 100%, $snap: true) {
  flex: 0 0 $width;

  @if($snap ==true) {
    scroll-snap-align: start;

  }

  border-radius: 1.125rem;

}

@mixin carouselItem2($noOfItems: 1) {
  $percentage: calc(100% / $noOfItems);
  $margin: calc(1rem / $noOfItems);

  @if($noOfItems ==1) {
    $percentage: 100%;
    $margin: 0rem;
  }

  flex: 0 0 calc($percentage - $margin);

  scroll-snap-align: start;
  border-radius: 1.125rem;

}

@mixin sectionMargin() {
  margin: 12.5rem 0;
}

@mixin image($shadow:shadow) {
  background-position: center;
  background-size: cover;
  $border-radius: 1.125rem;

  border-radius: $border-radius;

  @if($shadow == shadow){
    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}