// color

$white: #FFF;
$grey: #eeeced;
$darkgrey:#D9D9D9;
$blue: #2bc0d4;
$blue-shadow:rgba(43, 192, 212,0.15);
$navy:#236681;
$black: #2C3233;
$green: #3cb54a;


// fonts

$helvetica: "Poppins", sans-serif;
$helvetica-light: "Poppins", 'HelveticaNeue-Light', 'Helvetica Neue', sans-serif;
$montserrat: "Poppins", sans-serif;


//font sizes:
$h1:3.75rem;
$h2: 3rem;
$h3: 1.5rem;
$h4: 1.25rem;
$li:1rem;
$p:1rem;
$body: 1rem;
$button: 1rem;
$caption: 0.875rem;

$resMargin:2.5rem;
$pagePadding:0 6.25rem;
$pagePaddingRes: 0 $resMargin;



$section-margin:12.5rem;

$border-radius:1.125rem;

$input-field:height;