// color

$white: #FFF;
$grey: #eeeced;
$blue: #2bc0d4;
$blue-shadow:rgba(43, 192, 212,0.15);
$navy:#236681;
$black: #2C3233;
$green: #3cb54a;


// fonts

$helvetica: 'Helvetica Neue', sans-serif;
$helvetica-light: 'Helvetica Light', 'HelveticaNeue-Light', 'Helvetica Neue', sans-serif;
$montserrat: 'Montserrat', sans-serif;


//font sizes:
$h1:3.75rem;
$h2: 3rem;
$h3: 1.5rem;
$h4: 1.25rem;
$body: 1rem;
$button: 1rem;
$caption: 0.875rem;


