* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* font-size: 100%; */
    /* list-style: none; */
}

body {
    background-color:#eeeced ;
    /* background-color:red ; */

}
body:has(dialog[open]) {
    overflow: hidden;
}
html {
    font-size:clamp(10px, 0.8vw, 17px);
    /* font-size:clamp(10px,1vw,30px); */
    user-select: none;
}

.vue3-snackbar-message-title{
    font-family:'Helvetica Neue', sans-serif; ;
    font-size: 1rem ;
    font-weight: 500 ;
    color: black;
    
}

.vue3-snackbar-message-wrapper{
    border: 1px solid rgba(255, 0, 0, 0.40);

}

#vue3-snackbar--container {
    position: fixed;
    padding: 0;
    pointer-events: none;

    
}
#vue3-snackbar--container.is-bottom{
    /* bottom:-16px !important; */
}