* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#eeeced ;
}

html {
    font-size:12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    user-select:none;
}
@media only screen and (max-width: 1423px){
    html {
        font-size:11px;
    }
}