* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* font-size: 100%; */
    /* list-style: none; */
}

body {
    background-color:#eeeced ;
}
body:has(dialog[open]) {
    overflow: hidden;
}
html {
    font-size:clamp(10px, 1vw, 17px);
    /* font-size:clamp(10px,1vw,30px); */
    user-select: none;
}
